{% extends "base.html" %}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: darkslategray;;
}

.title_display
{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
}

.h1_class
{
    font-size: 32px;
}

.h2_class
{
    font-size: 32px;
}

.top_editor_picks
{
    text-align: center;
    font-size: 22px;
}
.review_entry_box
{
    text-align: center;
    font-size: 26px;
}

.return_to_menu_class
{
    text-align: center;
    font-size: 22px;
}

.return_menu_button
{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}