{% extends "base.html" %}

.return_menu_button
{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.title_display
{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
}

.h1_class
{
    font-size: 32px;
}

.h2_class
{
    font-size: 32px;
}

.top_editor_picks
{
    text-align: center;
    font-size: 22px;
}
.review_entry_box
{
    text-align: center;
    font-size: 26px;
}

.return_to_menu_class
{
    text-align: center;
    font-size: 22px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: darkslategray;;
}

#sidenav
{
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }
  #sidenav a
  {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  #sidenav a:hover
  {
      color: #f1f1f1;
  }
  #sidenav .closebtn
  {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }