{% extends "base.html" %}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: darkslategray;
}

.title_display
{
    background-color: #4caf50; /* Green */
    border: none;
    color: black;
}

.h1_class
{
    font-size: 32px;
    text-align: center;
    color: black;
}

.h2_class
{
    font-size: 32px;
    text-align: center;
    color: black;
}

.top_editor_picks
{
    text-align: center;
    font-size: 22px;
    color: black;
}

.review_entry_formatting
{
    text-align: center;
    color: black;
}

.review_entry_box
{
    padding: 15px 32px;
    text-align: center;
    font-size: 26px;
    color: black;
}

.retrieved_reviews
{
    text-align: center;
    font-size: 22px;
    color: black;
}

.review_borders
{
    border-style: dashed;
    border-color: black;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}