{%  extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <h2>About</h2>
  <p>Able is an app that uses Google Maps API software ot help users locate public places that are and aren't handicap accessible.
      There is information about wheelchair and parking accessibility, accommodations for the deaf and blind such as
braille, audio descriptions sign language, closed captions, and accessibility for those in
the autism spectrum who might require a quieter space. This information would be
provided both by establishments and by the app’s users. Unlike other apps, it will
contain a wealth of information for people with disabilities of all sorts, and users will be
able to make comments about their experience in certain places.</p>
{% endblock %}