{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1>
            Account Creation
        </h1>
            {% if current_user.is_authenticated %}
            <h1>
                Currently logged in as: {{ current_user.username }}
            </h1>
        {% endif %}
        {% if current_user.is_anonymous %}
            <h1>Not Currently logged in</h1>
        {% endif %}
        <form class="register_form" method="POST" action=''>
            {{ form.csrf_token }}
            <p>
                {{form.username.label}}<br>
                {{form.username}}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email }}
            </p>
            <p>
                {{form.password.label}}<br>
                {{form.password}}
            </p>
            <p>
                {{form.password2.label}}<br>
                {{form.password2}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>
{% endblock %}