{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1>
            Account Creation
        </h1>
        <form>
            <!--
            This tag/field protects against CSRF attacks and is part of best practices
            Our app won't be on the web or exposed to it, but it's a good and simple habit to include it
             -->
            {{form.hidden_tag()}}
            <p>
                {{form.username.label}}<br>
                {{form.username}}
            </p>
            <p>
                {{form.password.label}}<br>
                {{form.password}}
            </p>
            <p>
                {{form.password2.label}}<br>
                {{form.password2}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>
{% endblock %}