<!-- The main template file that extends the Bootstrap file, making it work -->
{% extends 'bootstrap/base.html' %}
<script src="https://kit.fontawesome.com/5fe86f7e65.js" crossorigin="anonymous"></script>

{% block navbar %}
    <nav class = "navbar navbar-inverse navbar-fixed-top">
        <div class = "container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Able</a>
            </div>
            <ul class = "nav navbar-nav">
                <li><a href="about">About</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="navigation">Navigation</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="{{ url_for('registration') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="#">Business Profile</a></li>
                <li><a href="#">Change Language</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}
<!-- The main template that all others using 'extends base.html' will inherit from -->
{% block content %}
{% endblock %}