{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <h2>Contact</h2>

    <form action="{{ url_for('contact') }}" method=post>

    {{ form.hidden_tag() }}

    <p>
    {{ form.name.label }}
    {{ form.name }}
    </p>
    <p>
    {{ form.email.label }}
    {{ form.email }}
    </p>

    <p>
    {{ form.subject.label }}
    {{ form.subject }}
    </p>
     <p>
    {{ form.message.label }}
    {{ form.message }}
    </p>

    <p>
    {{ form.submit }}
    </p>
  </form>
{% endblock %}