<!-- This imports the basic html file we can alter at anytime. It inherits everything in it -->
{% extends "base.html" %}

<!--
    This is where all of the content going into this pages file goes
    This is also all filler text so feel free to get rid of it.
 -->
{% block app_content %}
<h1>Sample Header</h1>
    <p>Sample text</p>
<div>
    <h3>Sample small list</h3>
    <ul>
        <li>a random thing</li>
        <li>another thing</li>
        <li>third thing</li>
    </ul>
</div>
{% endblock %}