{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="C:/Users/Dennis/PycharmProjects/Able/app/static/css/owner_page.css">
<head>
    <meta charset="UTF-8">
    <title>Business Owner Profile</title>
</head>
<body>

    <h1>Business Owner Profile</h1><br>

    <p>Temp</p><br><br><br>
    <button name="test" type="button">Click Me!</button>
    <br><br><br>

    <form action="return_to_menu">
        <button type="submit">Return to Menu</button>
    </form>

</body>
</html>