<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/user_page.css') }}">
        <div class="title_display">
            <title>User Profile</title>
        </div>
    </head>
    <body>
        <div class="h1_class">
            <h1><center>These are the Top Editor Picks:</center></h1><br><br>
        </div>
        <div class="top_editor_picks">
            <p>This is a Rite Aid Pharmacy by Wayne State University in Detroit.</p>
            <p>Location: 4612 Woodward Ave Detroit MI 48201</p>
            <a href="https://locations.riteaid.com/locations/mi/detroit/4612-woodward-avenue.html">Rite Aid Pharmacy</a><br><br>


            <p>This is a Barnes and Nobles by Wayne State University in Detroit.</p>
            <p>Location: 82 West Warren Street Detroit MI 48202</p>
            <a href="https://www.barnesandnoble.com/">Barnes and Nobles</a><br><br>

            <p>This is a Shake Shack in the Heart of Detroit.</p>
            <p>Location: 660 Woodward Ave Detroit MI 48226</p>
            <a href="https://www.shakeshack.com/location/downtown-detroit-mi">Shake Shack</a><br><br><br>
        </div>
        <div class="h2_class">
            <h2>
                Write your reviews for locations you have visited below!
            </h2>
        </div><br>
        <div class="review_entry_formatting">
            <div class="review_entry_box">
                <a href="write"><button type="button">Click here to submit a review!</button></a><br>
            </div><br><br>
        </div>
        <div class="retrieved_reviews">
            {% for i in reviews %}
                <div class="review_borders">
                    <br>{{ i.review }}<br><br>
                </div><br><br>
            {% endfor %}
        </div><br><br><br>
        <div class="return_to_menu_class">
            <div class="return_menu_button">
                <a href='return_to_menu'> <button type="button">Return to Menu</button> </a>
            </div>
        </div><br><br><br>
    </body>
</html>